@font-face {
  font-family: "iransansMedium";
  src: url("../fonts/fa-Iran-sans-web-medium.ttf");
}
@font-face {
  font-family: "iransansBold";
  src: url("../fonts/fa-Iran-sans-web-bold.ttf");
}
@font-face {
  font-family: "iransansLight";
  src: url("../fonts/fa-Iran-sans-web-light.ttf");
}
/* set defult font of page */
*{
  font-family: 'iransansMedium', sans-serif;
}

.fontbold{
  font-family:"iransansBold" ;
}
.fontlight{
  font-family:"iransansLight" ;
}
/* body color setter */
body{
  background-color: #f2f5fc;
  background: url(../images/hero-bg.png) top center no-repeat;
}
/* all cards color setter */
.card{background-color: #c9e6f8;}

.btn.notDelete{
  background-color: #4154f1;
  border: 0px;
}
.cardModeBTNtext{
  color: white;
}

/* ***PAGE HIDDER*** */
.dataPage,.configPage{display: none;}

/* hide all file uploader becouse of the button to do that */
.fileupload{display: none;}

/* scrollable area setting */
.scrollableArea {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

/* scrollbar setting */
::-webkit-scrollbar {width: 20px;}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
} 
::-webkit-scrollbar-thumb:hover {background-color: #d6dee1;}

/* border opacity setter */
.border{
  --bs-border-opacity: 0.8;
}

.configPage{
  position: fixed;
  top :0px;
  left: 0px;
}
.settingPart {
  max-height: 90%;
  max-width: 90%;
  overflow-y: auto;
  overflow-x: auto;
}
.returnToBack,.reloadCanvas{
  font-size: 10px;
}
.pages{
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
.acrsettings{
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}


.dataPage,.configPage{
  opacity:0 ;
}

.waiter{
  position: sticky;
  width: 100%;
  text-align: center;
  background-color: #b01f1fb5;
}